.elements {
    display: flex;
    justify-content: center;
}

.elements_images {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around;
grid-gap: 30px;
margin: 40px;
}

header{
    color:white;
    background-color: black;
}