.elements {
    display: flex;
    justify-content: center;
}

.elements_images {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around;
grid-gap: 30px;
margin: 40px;
}

header{
    color:white;
    background-color: black;
}

@media (max-width: 1200px){
    .elements_images {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
}
}

@media (max-width: 750px){
    .elements_images {
        grid-template-columns: 1fr;
    }
}